/**
* Domains overview
*/
.op-uninvoiced-domain-reset-count
{
    color: red;
}
.op-uninvoiced-domain-reset-count:hover
{
    color: pink;
}

.op-uninvoiced-domain-invoice
{
    color:green;
}
.op-uninvoiced-domain-invoice:hover
{
    color:blue;
}

/**
* Create domain invoice
*/

.op-found-invoices,
.op-expected-invoices,
.op-difference-invoices,
.op-recurring-amount
{
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

.op-found-invoices .number,
.op-expected-invoices .number,
.op-difference-invoices .number,
.op-recurring-amount .number
{
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
    color: black;
}

.op-found-invoices .number
{
    color: black;
}

.op-found-invoices
{
    background-color: #5dc560;
}

.op-expected-invoices
{
    background-color: #ea5395;
}

.op-difference-invoices
{
    background-color: #8dd5d9;
}

.op-recurring-amount
{
    background-color: #6f89e0;
}

@media (max-width: 991px) {

    .op-col {
        margin-bottom: 15px;
    }
  
  }